*{
    padding: 0%;
    margin: 0%;
}
.zen-dots-regular {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    height: 100dvh;
    width: 100dvw;
    color: #ffffff;
}
body{
  background: linear-gradient(0deg,#ed2929,#000000);
  background-size: 120% 120%;
  animation: gradient-animation 2s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#s1{

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10%;
}
#s1 p,#s1 h2{
    font-family:"Zen Dots";
    text-align: center;
    font-size: 150%;
}
#s1 h1{
    font-family: "Zen Dots";
    font-size: 300%;
}
#s1 h2{
    font-size: 120%;
}
span{
  color: rgb(0, 0, 0);
}
#frtext{
  color: gold;
}
@media(max-width: 650px){
  body{
    height: 100dvh;
    width: 100dvw;
  }
  #s1{
    width: 80%;
    row-gap: 5%;
  }
  #s1 p, #s1 h2{
    font-size: 100%;
  }
  #s1 h1{
    font-size: 140%;
}
}